.post_item a{
    color: #fff;
}

.rest_main_wrapper{
    text-align: left;
}

.single_wrapper{ 
    max-width: 350px;
    display: inline-block;
    margin: 50px 0;
    background: rgb(29, 38, 54);
    display: flex;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    justify-content: start;
    position: relative;
    padding-left: 70px;
    z-index: 0;
}
.single_wrapper img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    position: absolute;
    left: -70px;
    top: -10px;
    display: block;
    border: 1px solid rgb(17, 236, 229);
    box-shadow: rgb(17 236 229) 0px 0px 6px 0.7px;    
    border-radius: 100px;
}

.info_person{
    font-size: 20px;
}

.rest_main_wrapper p{
    color: #fff;
}