.mainWrapper{
    flex-grow: 1;
    background-color: rgb(7, 13, 23);;
}

.HeaderWrapper{
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 5px;
    min-height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: rgb(17 236 229) 0px 0px 6px 0.7px;
    position: relative;
}
.Navigator.active{
    display: none;
}
.HeaderTitle{
    font-size: 20px;
    font-weight: 500;
    color: rgb(17, 236, 229);;
    text-align: left;
    width: 200px;
}
.WidgetItem{
    padding: 15px 20px;
    display: flex;
    align-items: bottom;
}
.WidgetItem a {
    display: block;
    text-decoration: none;
    color: #888;
    font-size: 25px;
    transition: all .2s;
}
.WidgetItem a:hover{
    color: #00acc1;
}
.IconButtons{
    display: flex;
}
.leftContent{
    display: flex;
    align-items: center;
}
.Message{
    display: block;
    padding-top: 2px;
    margin-left: 5px;
    color: rgb(17, 236, 229);
}

.ItemsAccount{
    display: flex;
}

.ItemAccount{
    margin: 15px;
}

.ItemAccount a{
    text-decoration: none;
    color: rgb(17, 236, 229);
    font-size: 18px;
    text-transform: capitalize;
}

.ItemAccount a:hover{
    color: #00acc1;
}

.ContentBlock{
    padding:15px;

}

.UserLInk{
    position: relative;
    list-style-type: none;
    text-align: left;
    max-width: 200px;
    padding: 20px 20px 20px 20px;
    background: rgb(29, 38, 54);
}

.UserLInk li a{
    display: block;
    padding: 5px;
    transition: ease-in-out .1s;
    text-decoration: none;
    color: rgb(17, 236, 229);
    font-size: 14px;
}

.HeaderDecor_3{
    width: 210px;
    left: 20px;
}

.HeaderDecor_4{
    width: 700px;
    right: 0;
}

.HeaderDecor_2{
    width: 150px;
    left: 600px;
}

.HeaderDecor_1{
    width: 30px;
    left: 500px;
}

.HeaderDecor_1,.HeaderDecor_3,.HeaderDecor_2, .HeaderDecor_4{
    position: absolute;
    bottom: -2px;
    height: 1px;
    background: rgb(17, 236, 229);
    box-shadow: rgb(17 236 229) 0px 0px 6px 0.7px;

}

.UserListHead{
    color: rgb(17, 236, 229);
    position: absolute;
    text-shadow: rgb(17 236 229) 0px 0px 6px 0.7px; 
    top: -15px;
    right: -15px;
    width: 70%;
    padding: 10px;   
}